@model VmProducts
@{
    ViewBag.Title = "ShowProductDetails";
}

<h2>ShowProductDetails</h2>

@using (Html.BeginForm("SaveProductDetails", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(x => x.ProductID)
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(x => x.ProductName)
            @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.QuantityPerUnit)
            @Html.TextBoxFor(x => x.QuantityPerUnit, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.QuantityPerUnit, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.UnitPrice)
            @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn">Save this</button>
    </fieldset>
}
